
<!-- <section $class="vh-100 {{backgroundCharge}}"> -->
<section [ngClass]="[view ? 'vh-100' + ' backgroundCharge' : 'vh-100 ']">
  <div class="container py-5 h-100 d-flex justify-content-center">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="d-none d-lg-block col-lg-7 col-xl-6 ">
        <img class="logo-login" src="../../../assets//images/img-login.jpeg" alt="logo-login">
      </div>
      <div class="col-sm-5 col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <!-- <img src="../../../assets/images/logo.jpeg" alt="logo" class="logo"> -->
          <!-- <div *ngSwitch="view_Qr"> -->
            <div *ngIf="!view_Qr">
              <form #form="ngForm" class="form">
                <div class="input-group mb-4 form-group">
                  <span class="input-group-text" id="email-addon">
                    <i class="bi bi-envelope-fill"></i>
                  </span>
                  <input type="email" id="form1Example13" class="form-control form-control-lg input text-white" [(ngModel)] ="username" [ngModelOptions]="{standalone: true}" placeholder="Enter your Email" />
                </div>
                
                <div class="input-group mb-4 form-group">
                  <span class="input-group-text" id="password-addon">
                    <i class="bi bi-lock-fill"></i>
                  </span>
                  <input type="password" id="form1Example23" class="form-control form-control-lg input text-white" [(ngModel)] ="password" [ngModelOptions]="{standalone: true}" placeholder="Enter your Password" />
                </div>
                <button (click)="login()" class="btn btn-primary btn-lg btn-block submit">Login</button>
              </form>
            </div>
            <div *ngIf="view_Qr">
              <form #form="ngForm" class="form">
                <img [src]="img_qr" alt="QR Code">
                <div class="input-group mb-4 form-group">
                  <span class="input-group-text" id="password-addon">
                    <i class="bi bi-envelope-fill"></i>
                  </span>
                  <input type="password" id="form1Example23" class="form-control form-control-lg input text-white" [(ngModel)] ="code" [ngModelOptions]="{standalone: true}" placeholder="Enter your Code" />
                </div>
                <button (click)="login()" class="btn btn-primary btn-lg btn-block submit">Send</button>
              </form>
            </div>
      </div>
    </div>
  </div>
</section>
<div class="spinenerCharge" *ngIf="view">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
